In [2]:
import os
import configparser
import pandas
from pyspark.sql import SparkSession

In [3]:
config = configparser.ConfigParser()
config.read('../../dl.cfg')

os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['AWS_SECRET_ACCESS_KEY']
    
input_data = config['DATALAKE']['INPUT_DATA']
output_data = config['DATALAKE']['OUTPUT_DATA']

In [5]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

In [6]:
songplays_df = spark.read.parquet(os.path.join(output_data, 'songplays/year=*/month=*/*.parquet'))
print('size=', songplays_df.count())
songplays_df.limit(5).toPandas()

size= 1

,songplay_id,start_time,user_id,level,song_id,artist_id,session_id,location,user_agent
0,0,2018-11-15,97,paid,SOBLFFE12AF72AA5BA,ARJNIUY12298900C91,605,"Lansing-East Lansing, MI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."

In [7]:
song_df = spark.read.parquet(os.path.join(output_data, 'songs/_year=2004/_artist_id=*/*.parquet'))
print('size=',song_df.count())
song_df.limit(5).toPandas()

size= 3

,song_id,title,artist_id,year,duration
0,SORRNOC12AB017F52B,The Last Beat Of My Heart (b-side),ARSZ7L31187FB4E610,2004,337.81506
1,SOIGICF12A8C141BC5,Game & Watch,AREWD471187FB49873,2004,580.54485
2,SOIGHOD12A8C13B5A1,Indian Angel,ARY589G1187B9A9F4E,2004,171.57179